* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  display: flex;
  justify-content: center;
}
#mainContainer {
 border-radius: 6px;
  margin-top: 100px;
  width: 380px;
  height: 500px;
  background-color: grey;
  display: flex;
  flex-direction: column;
}
#screenContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  border: orange 2px solid;
  background-color: green;
  align-self: center;
  display: flex;
}
#screenInput {
  min-width: 330px;
  height: 80px;
  line-height: 80px;
  text-align: right;
  margin-right: 5px;
  font-size: 3rem;
}

#numberContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
button {
  margin: 10px;
  width: 60px;
  height: 60px;
}
.row1 {
  margin-top: 0px;
  margin-bottom: -5px;
}
.clearBtn {
  width: 144px;
  height: 40px;
}
.divideBtn {
  height: 40px;
}
.multiplyBtn {
  height: 40px;
}
.row2 {
}
.minusBtn {
}
.row3 {
}
.plusBtn {
}
.row4 {
  position: relative;
  right: 42px;
}
.row5 {
}
#zeroBtn {
  width: 144px;
  position: relative;
  top: -40px;
}
.decimalBtn {
position: relative;
  top: -40px;
}
.equalBtn {
  background-color: orange;
  height: 140px;
  position: relative;
  top: -80px;
}
