* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  display: flex;
  justify-content: center;
}
#mainContainer {
  border-radius: 6px;
  margin-top: 100px;
  width: 380px;
  height: 500px;
  background-color: grey;
  border-top: 6px rgb(87, 85, 85) solid;
  border-right: 4px rgb(87, 85, 85) solid;
  display: flex;
  flex-direction: column;
}
#screenContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  border: orange 2px solid;
  background-color: green;
  align-self: center;
  display: flex;
}
#screenInput {
  min-width: 330px;
  height: 80px;
  line-height: 80px;
  text-align: right;
  margin-right: 5px;
  font-size: 3rem;
}

#numberContainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
button {
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  border-top: 3px rgb(87, 85, 85) solid;
  border-right: 2px rgb(87, 85, 85) solid;
}
button:active {
  transform: translateY(-2px);
  border-bottom: 1.5px rgb(87, 85, 85) solid;
  border-left: 1px rgb(87, 85, 85) solid;
  border-top: 1.5px rgb(87, 85, 85) solid;
  border-right: 1px rgb(87, 85, 85) solid;
}
.row1 {
  margin-top: 0px;
  margin-bottom: -5px;
  position: absolute;
  top: 0px;
}
#clear {
  width: 144px;
  height: 40px;
}
#divide {
  height: 40px;
}
#multiply {
  height: 40px;
}
.row2 {
  position: absolute;
  top: 50px;
}
.row3 {
  position: absolute;
  top: 130px;
}
.row4 {
  position: absolute;
  width: 332px;
  left: 023px;
  top: 210px;
}
.row5 {
  position: absolute;
  top: 290px;
}
#zero {
  width: 144px;
  position: relative;
  top: -40px;
}
#decimal {
  position: relative;
  top: -40px;
}
#equal {
  background-color: orange;
  height: 140px;
  position: relative;
  top: -80px;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: lightgray;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  color: red;
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: center;
}
